.contacts-list {
  @include list-reset;

  font-family: $main-font;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.contacts-list__link {
  display: block;
  margin-right: 90px;
  color: $base-color-1;

  text-decoration: none;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
    outline: none;

    .contacts-list__item::before {
      opacity: 0.7;
    }
  }

  &:active{
    opacity: 0.5;
    color: $accent-color;
    outline: none;

    .contacts-list__item::before {
      opacity: 0.5;
    }
  }
}

.contacts-list__item {
  display: block;
  position: relative;

  padding-left: 35px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left:0;
  }

  &--mail {
    &::before {
      top: 2px;

      width: 19px;
      height: 14px;

      background-image: url("../../img/icons/envelope.svg");
      background-repeat: no-repeat;
      background-size: 19px 14px;
    }
  }

  &--phone {
    &::before {
      width: 18px;
      height: 18px;

      background-image: url("../../img/icons/phone-call.svg");
      background-repeat: no-repeat;
      background-size: 18px 18px;
    }
  }
}

@media (max-width: $desktop-width) {

  .contacts-list__link {
    margin-right: 30px;

    &--mail {
      width: 26px;
      height: 19px;
    }

    &--phone {
      width: 24px;
      height: 24px;
    }

    span {
      display: none;
    }
  }

  .contacts-list__item {
    padding: 0;

    &--mail {
      width: 26px;
      height: 19px;

      &::before {
        top: -2px;
        width: 26px;
        height: 19px;

        background-size: 26px 19px;
      }
    }

    &--phone {
      width: 24px;
      height: 24px;

      &::before {
        top: -2px;
        width: 24px;
        height: 24px;

        background-size: 24px 24px;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .contacts-list__link {
    margin-right: 23px;
  }
}
