.page__wrapper-united {
  background-color: $base-color-1;
  background-image:
    url("../../img/icon-polygon-grey-left-small.svg"),
    url("../../img/icon-polygon-grey-left-big.svg"),
    url("../../img/icon-polygon-grey-right-big.svg"),
    url("../../img/icon-polygon-grey-right-small.svg");
  background-repeat: no-repeat;
  background-size:
    225px auto,
    580px auto,
    870px auto,
    220px auto;
  background-position:
    top 4% left 12%,
    bottom -15% left,
    top 37% left 53%,
    top 45.8% right 2%;
}

@media (max-width: $desktop-width) {
  .page__wrapper-united {
    background-image: url("../../img/icon-polygon-grey-right-big.svg");
    background-repeat: no-repeat;
    background-size: 870px auto;
    background-position: top 33% left -210%;
  }
}
